NEXT_PUBLIC_API_URL=http://localhost:9000/api/v1
NEXT_PUBLIC_WS_URL=ws://localhost:9000/ws
NODE_ENV=development

NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GITHUB_CLIENT_ID=
NEXT_PUBLIC_APPLE_CLIENT_ID=
NEXT_PUBLIC_TWITTER_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_REDIRECT_URI=http://localhost:3000/auth/oauth/callback/google
NEXT_PUBLIC_GITHUB_REDIRECT_URI=http://localhost:3000/auth/oauth/callback/github
NEXT_PUBLIC_APPLE_REDIRECT_URI=http://localhost:3000/auth/oauth/callback/apple
NEXT_PUBLIC_TWITTER_REDIRECT_URI=http://localhost:3000/auth/oauth/callback/twitter